body {
    background-color:teal ;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}


#navbar {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    position: fixed;
    background-color: rgba(15, 80, 77, 0.829);
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    grid-template-areas:
    ". about project contact";
    column-gap: 5%;
}
#nav-wel {
    grid-area: about;
}
#nav-proj {
    grid-area: project;
}
#nav-con {
    grid-area: contact;
}


#main-doc {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "welcome"
    "projects"
    "contact";
}


#welcome-section {
    height: 100vh;
    grid-area: welcome;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "title"
    "subtext";
}
#title {
    grid-area: title;
    font-family: 'Fredericka the Great', cursive;
    font-size: 550%;
    align-self: end;
}
#subtext {
    grid-area: subtext;
    font-family: 'Amatic SC', cursive;
    font-size: 350%;
    align-self: start;
}


#projects {
    padding: 5%;
    background-color: rgba(68, 139, 115, 0.746);
    grid-area: projects;
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: center;
    row-gap: 5%;
}
#projects-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 5%;
    column-gap: 5%;
}
.project-tile {
    background-color: rgba(49, 100, 83, 0.746);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.tile-link {
    display: grid;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: center;
}
.project-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2em;
    text-align: center;
    line-height: 2.5em;
}
.project-img {
    max-width: 50%;
    height: auto;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#profile-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    grid-area: see-more;
    justify-self: center;
    align-self: center;
    padding-bottom: 5%;
}


#contact {
    padding: 2% 2% 4% 2%;
    background-color: rgba(103, 167, 103, 0.699);
    grid-area: contact;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "contact-title contact-title contact-title"
    "git fcc linkedin";
    justify-items: center;
    align-items: center;
    row-gap: 50%;
}
#contact-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    grid-area: contact-title;
}
#github {
    grid-area: git;
    justify-self: end;
}
#fcc {
    grid-area: fcc;
}
#linkedin {
    grid-area: linkedin;
    justify-self: start;
}
.contact-icon {
    width: 50px;
    height: auto;
}

@media (max-width: 600px) {
    #navbar {
        position: fixed;
        width: 100vw;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-areas:
        ". about project contact";
        column-gap: 5%;
    }
    #nav-wel {
        grid-area: about;
    }
    #nav-proj {
        grid-area: project;
    }
    #nav-con {
        grid-area: contact;
    }
}