body {
    background-color:teal ;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}


#navbar {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    position: fixed;
    background-color: rgba(15, 80, 77, 0.829);
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr repeat(3, auto);
    grid-template-areas:
    ". about project contact";
    column-gap: 5%;
}
#nav-wel {
    grid-area: about;
}
#nav-proj {
    grid-area: project;
}
#nav-con {
    grid-area: contact;
}


#main-doc {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "welcome"
    "projects"
    "contact";
}


#welcome-section {
    height: 100vh;
    grid-area: welcome;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "title"
    "subtext";
}
#title {
    grid-area: title;
    font-family: 'Fredericka the Great', cursive;
    font-size: 550%;
    align-self: end;
}
#subtext {
    grid-area: subtext;
    font-family: 'Amatic SC', cursive;
    font-size: 350%;
    align-self: start;
}


#projects {
    padding: 5%;
    background-color: rgba(68, 139, 115, 0.746);
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "tribute survey-form"
    "product documentation";
    justify-items: center;
    align-items: center;
}


#contact {
    padding: 5%;
    background-color: rgba(103, 167, 103, 0.699);
    grid-area: contact;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
}
.contact-icon {
    width: 50px;
    height: auto;
}